.container {
  position: relative;
  height: 400px;
  width: 400px;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
/* CONTAINERS */
.buno {
  background: #5d3a3a;
  margin: 0;
}
.bthree{
  background: #6592CF;
}
.bseven {
  background-color: #0B2429;
}
.beight{
  background: #6592CF;
}
.bnine {
  background: #222730;
}
.bten {
  background: #62306D;
}
/* ----- */

/* ONE */
.square{
  width: 200px;
  height: 200px;
  background: #b5e0ba;
}
/* ----- */

/* TWO */
.btwo {
  background: #62374e;
}
.TwoDiv {
  width: 50px;
  height: 50px;
  background: #fdc57b;
  display: flex; 
}
.first2 { 
  top: 50px;
  left: 50px;
  position:absolute;
}

.second2{
  top: 200px;
 left: 50px;
 position:absolute;
}
.third2{
  top: 200px;
  left: 300px;
  position:absolute;
}
.forth2{
  top: 50px;
  left: 300px;
  position:absolute;
}
/*-------- */

/* Three */
.aThree {
  width: 300px;
  height: 150px;
  background: #243D83;
  margin: 75px 42px;
  overflow: hidden;
}
  .bThree {
  width: 50px;
  height: 50px;
  background: #EEB850;
  border-radius: 50%;
  margin: 50px auto;
  box-shadow: 0 0 0 50px #243D83, 0 0 0 100px #6592CF;
  overflow: hidden;
}
/* ------- */

/* SEVEN */
.lemon {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100px 0px;
  
}
.bottom{
  margin-top: 70px;
  margin-left: 70px;
  background: #1A4341;
}
.middle{
   margin-top: 70px;
  margin-left: 120px;
  background: #998235;
}
.top{
   margin-top: 70px;
  margin-left: 170px;
  background: #F3AC3C;
}

.handle{
  position: absolute;
 margin-top: 200px;
 margin-left: 180px;
  height: 100px;
  width: 20px;
   background: #060F55;
}
.dkLine{
  position: absolute;
  height: 140px;
  width: 20px;
   background: #060F55;
  border-radius: 10px;
}
.line1{
  margin-top: 40px;
  margin-left: 120px;
}
 .line2{
  margin-top: 40px;
  margin-left: 160px;
}
  .line3{
  margin-top: 40px;
  margin-left: 200px;
}
  .line4{
  margin-top: 40px;
  margin-left: 240px;
}
  .lgLine{
  position: absolute;
  height: 140px;
  width: 20px;
  border-radius: 10px;
  background: #6592CF;
}
 .a{
  margin-top: 10px;
  margin-left: 220px;
}
.b{
  margin-top: 10px;
  margin-left: 180px;
}
 .c{
  margin-top: 10px;
  margin-left: 140px;
}
.circle {
  
  position: absolute;
  margin-top: 100px;
  margin-left: 120px;
  width: 140px;
  height: 140px;
  background: #060F55;
  border-radius: 50%;
}


.rectangle {
  position: absolute;
  
  left: 0px;
  margin-top: 65px;
  margin-left:0;
  width: 100%;
  height: 150px;
  background: #4CAAB3;
}
 .sqrA {
  position: absolute;
   margin-top:20px;
   margin-left: 70px;
  transform: rotate(45deg);
   width: 250px;
  height: 250px;
  background: #222730;
}
   .sqrB {
  position: absolute;
   margin-top:70px;
   margin-left: 120px;
  transform: rotate(45deg);
   width: 150px;
  height: 150px;
  background: #4CAAB3;
}
.crcle{
   position: absolute;
  height: 50px;
  width: 50px;
  margin-top: 120px;
  margin-left: 170px;
  border-radius: 50%;
  background: #393E46;
}

/* TEN */

.TenRectangle {
  position: absolute;
  background: #F7EC7D;
  width: 100px;
}
.aTen{
 margin-top: 190px;
  margin-left: 50px;
  height: 130px;
}
.bTen{
  margin-top: 90px;
  margin-left: 150px;
  height: 210px;
}
.cTen{
  margin-top: 190px;
  margin-left: 250px;
  height: 130px;
}
.bgCircleTen{
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.leftTen{
  margin-top: 140px;
  margin-left: 50px;
  background:#AA445F;
}
.middleTen{
  margin-top: 40px;
  margin-left: 150px;
  background:#E38F66;
}
.rightTen{
  margin-top: 140px;
  margin-left: 250px;
  background:#AA445F;
}
.smCircleTen{
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  
}
.AsmTen{
  margin-top: 160px;
  margin-left: 70px;
   background:#E38F66;
}
.BsmTen{
  margin-top: 60px;
  margin-left: 170px;
  background: #AA445F;
}
.CsmTen{
  margin-top: 160px;
  margin-left: 270px;
   background:#E38F66;
}
/* ------ */

/* ELEVEN */
.beleven {
  background: #191210;
  display: relative;
  margin: 0;
}
.xEleven, .yEleven{
  width: 60px;
  height: 30px;
  border: 20px solid #ECA03D;
  position: absolute;
  border-radius: 0 0 50px 50px;
  border-top: 0;
}

 .yEleven{
  margin: 92px 0 0 242px;
  transform: rotate(180deg);
  position: absolute;
}
 .xEleven{
  margin: 142px 0 0 42px;
  position: absolute;

}

.BGcircleEleven {
  width: 60px;
  height: 30px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 20px solid #ECA03D;
  border-top: 0;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -150px;
}
.MDcircleEleven {
  width: 100px;
    height: 100px;
    background: repeating-radial-gradient(circle at 50%, #84271C, #84271C 35%, #191210 35%, #191210 100%);
    border: 20px solid #ECA03D;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -70px;
}
.SDcircleEleven {
  width: 60px;
    height: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 20px solid #ECA03D;
    border-bottom: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 50px;
}